.jumbotron {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aquamarine;
  color: blueviolet
}
.container {
 color: blueviolet;
}

.btn {
  color: white;
  background-color: deeppink;
}

#elderly {
  display: none;
}