.jumbotron {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aquamarine;
  color: blueviolet
}
.container {
 color: blueviolet;
}

.btn {
  color: white;
  background-color: deeppink;
}

#elderly {
  display: none;
  color: yellow;
  background-color: deeppink;
}

#minor {
  display: none;
  color: yellow;
  background-color: deeppink;
}

#cabo {
  display: none;
  color: yellow;
  background-color: deeppink;
}

#sonoma {
  display: none;
  color: yellow;
  background-color: deeppink;
}

#ashland {
  display: none;
  color: yellow;
  background-color: deeppink;
}

#opening-paragraph {
  font-style: italic;
  background-color: white;
  font-weight: bold;
}