.jumbotron {
  font-family: 'Times New Roman', Times, serif;
  color: magenta;
  background-color: aqua;
}

.container {
  font-family: 'Times New Roman', Times, serif;
  color: magenta;
}

.btn {
  color: white;
  background-color: deeppink;
}